<a href="https://colab.research.google.com/github/prasadoff12/Listening-Speaking/blob/main/Listening_(FACE2FACE_AI).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#LISTENING MODEL

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import os
import random
from sklearn import preprocessing

from google.colab import files
import io

In [ ]:
#Steps taken video converted in to (speaking & listening) CSV file.
# 1. Videos has been converted in to CSV file by using OPENFACE
# 2. After converted CSV file from video, this CSV file contain two face_id's. Since video has two persons conversation.
# 3. We extracted this CSV file as speaking and listening csv files by using face_id's. Note:  face_id '0' as speaker
     # and face_id '1' as listener. 
# 4.Because in listening section we take SEQ2SEQ model for training.
# 5.This listening model takes the AU+POSE of SPEAKER  as encoder input while AU+POSE of LISTENER as decoder input and
    # output AU+POSE of LISTENER
  #Check in POC 3.2 section for more details

##Uploaded Speaking CSV file

In [ ]:
X1="/content/drive/MyDrive/Speaking.csv"

In [ ]:
X1 = pd.read_csv(X1)
X1.head()

   frame   face_id   timestamp   confidence  ...   AU25_c   AU26_c   AU28_c   AU45_c
0      1         0       0.000         0.98  ...        0        1        0        1
1      2         0       0.033         0.98  ...        0        1        1        1
2      3         0       0.067         0.98  ...        0        1        1        1
3      4         0       0.100         0.98  ...        0        1        0        1
4      5         0       0.133         0.98  ...        0        1        1        1

[5 rows x 714 columns]

In [ ]:
X1.shape

(39682, 714)

##Extracted AU+POSE as 20D vector

In [ ]:
#Extracted AU+POSE as 20D vector which comprises of 17-D AU and 3-D head pose as per Documentation. 
#Please check section 3.3

In [ ]:
filter_columns=columns[3:]
filter_column=[i for i in filter_columns if "_r" in i and "p_" not in i or "pose_R" in i]
filter_column
X1=X1[filter_column]
X1

        pose_Rx   pose_Ry   pose_Rz  ...   AU25_r   AU26_r   AU45_r
0         0.228     0.101    -0.080  ...     0.66     0.82     0.88
1         0.228     0.108    -0.088  ...     0.63     1.05     1.27
2         0.224     0.115    -0.089  ...     0.70     1.18     1.31
3         0.237     0.127    -0.095  ...     0.72     1.29     1.38
4         0.230     0.132    -0.090  ...     0.77     1.37     1.46
...         ...       ...       ...  ...      ...      ...      ...
39677    -0.188    -0.187    -0.091  ...     0.00     0.00     0.60
39678    -0.183    -0.187    -0.088  ...     0.00     0.00     0.40
39679    -0.185    -0.187    -0.087  ...     0.00     0.00     0.48
39680    -0.187    -0.190    -0.087  ...     0.00     0.08     0.48
39681    -0.188    -0.194    -0.088  ...     0.00     0.39     0.52

[39682 rows x 20 columns]

##Preprocessing of speaking model

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X1_Scaled=min_max_scaler.fit_transform(X1)

In [ ]:
X1=pd.DataFrame(columns=filter_column,data=X1_Scaled)

In [ ]:
X1

        pose_Rx   pose_Ry   pose_Rz  ...    AU25_r    AU26_r    AU45_r
0      0.517353  0.554335  0.637750  ...  0.133603  0.174468  0.220551
1      0.517353  0.558382  0.630124  ...  0.127530  0.223404  0.318296
2      0.515502  0.562428  0.629171  ...  0.141700  0.251064  0.328321
3      0.521518  0.569364  0.623451  ...  0.145749  0.274468  0.345865
4      0.518279  0.572254  0.628217  ...  0.155870  0.291489  0.365915
...         ...       ...       ...  ...       ...       ...       ...
39677  0.324850  0.387861  0.627264  ...  0.000000  0.000000  0.150376
39678  0.327163  0.387861  0.630124  ...  0.000000  0.000000  0.100251
39679  0.326238  0.387861  0.631077  ...  0.000000  0.000000  0.120301
39680  0.325312  0.386127  0.631077  ...  0.000000  0.017021  0.120301
39681  0.324850  0.383815  0.630124  ...  0.000000  0.082979  0.130326

[39682 rows x 20 columns]

In [ ]:
X1.describe()

            pose_Rx       pose_Ry  ...        AU26_r        AU45_r
count  39682.000000  39682.000000  ...  39682.000000  39682.000000
mean       0.458529      0.506503  ...      0.196140      0.159741
std        0.060455      0.195304  ...      0.181025      0.180068
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.420176      0.320231  ...      0.025532      0.015038
50%        0.459509      0.436994  ...      0.159574      0.112782
75%        0.495141      0.696532  ...      0.321277      0.218045
max        1.000000      1.000000  ...      1.000000      1.000000

[8 rows x 20 columns]

###Reshaping and added Batch size speaking model to fit in to Keras model

In [ ]:
X1=np.array(X1)
X1=X1.reshape(1,X1.shape[0],X1.shape[1])

##Uploaded Listening CSV file

In [ ]:
X2="/content/drive/MyDrive/Listening.csv"

In [ ]:
X2 = pd.read_csv(X2)
X2.head()

   frame   face_id   timestamp   confidence  ...   AU25_c   AU26_c   AU28_c   AU45_c
0      1         1       0.000         0.98  ...        1        1        0        1
1      2         1       0.033         0.98  ...        1        1        0        1
2      3         1       0.067         0.98  ...        1        1        0        1
3      4         1       0.100         0.98  ...        1        1        0        1
4      5         1       0.133         0.98  ...        1        1        0        1

[5 rows x 714 columns]

##Extracted AU+POSE as 20D vector

In [ ]:
#Extracted AU+POSE as 20D vector which comprises of 17-D AU and 3-D head pose as per Documentation. 
#Please check section 3.3

In [ ]:
filter_columns=columns[3:]
filter_column=[i for i in filter_columns if "_r" in i and "p_" not in i or "pose_R" in i]
filter_column
X2=X2[filter_column]
X2

(41500, 20)

##Preprocessing of listening model

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X2_Scaled=min_max_scaler.fit_transform(X2)

In [ ]:
X2=pd.DataFrame(columns=filter_column1, data=X2_Scaled)

In [ ]:
X2

        pose_Rx   pose_Ry   pose_Rz  ...   AU25_c   AU26_c   AU45_c
0      0.560568  0.388535  0.307979  ...      1.0      1.0      1.0
1      0.572264  0.387261  0.305742  ...      1.0      1.0      1.0
2      0.576441  0.391083  0.299031  ...      1.0      1.0      1.0
3      0.578112  0.393631  0.294556  ...      1.0      1.0      1.0
4      0.581454  0.407643  0.287845  ...      1.0      1.0      1.0
...         ...       ...       ...  ...      ...      ...      ...
41495  0.401838  0.731210  0.263236  ...      0.0      1.0      1.0
41496  0.404344  0.730573  0.260999  ...      0.0      1.0      1.0
41497  0.406850  0.729299  0.260254  ...      0.0      1.0      1.0
41498  0.408521  0.729299  0.259508  ...      0.0      1.0      1.0
41499  0.410192  0.729936  0.258762  ...      0.0      1.0      1.0

[41500 rows x 20 columns]

###Reshaping and added Batch size listening model to fit in to Keras model

In [ ]:
X2=np.array(X2)
X2=X2.reshape(1,X2.shape[0],X2.shape[1])

#Encoder & Decoder Architecture (SEQ2SEQ MODEL)

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from numpy import array

# returns train, inference_encoder and inference_decoder models
def define_models(n_input, n_output, n_units):
	# define training encoder
	encoder_inputs = Input(shape=(None, n_input))
	encoder = LSTM(n_units, return_state=True)
	encoder_outputs, state_h, state_c = encoder(encoder_inputs)
	encoder_states = [state_h, state_c]
    
	# define training decoder
	decoder_inputs = Input(shape=(None, n_output))
	decoder_lstm = LSTM(n_units, return_sequences=True, return_state=True)
	decoder_outputs, _, _ = decoder_lstm(decoder_inputs, initial_state=encoder_states)
	decoder_dense = Dense(n_output, activation='softmax')
	decoder_outputs = decoder_dense(decoder_outputs)
    
	model = Model([encoder_inputs, decoder_inputs], decoder_outputs)
    
	# define inference encoder
	encoder_model = Model(encoder_inputs, encoder_states)
	# define inference decoder
	decoder_state_input_h = Input(shape=(n_units,))
	decoder_state_input_c = Input(shape=(n_units,))
	decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]
	decoder_outputs, state_h, state_c = decoder_lstm(decoder_inputs, initial_state=decoder_states_inputs)
	decoder_states = [state_h, state_c]
	decoder_outputs = decoder_dense(decoder_outputs)
	decoder_model = Model([decoder_inputs] + decoder_states_inputs, [decoder_outputs] + decoder_states)
	# return all models
	return model, encoder_model, decoder_model

#Compile and training model

In [ ]:
import sys

n_features=20

#define model
train, infenc, infdec = define_models(n_features, n_features, 128)

In [ ]:
train.summary()

Model: "model_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_5 (InputLayer)            [(None, None, 20)]   0
__________________________________________________________________________________________________
input_6 (InputLayer)            [(None, None, 20)]   0
__________________________________________________________________________________________________
lstm_2 (LSTM)                   [(None, 128), (None, 76288       input_5[0][0]
__________________________________________________________________________________________________
lstm_3 (LSTM)                   [(None, None, 128),  76288       input_6[0][0]
                                                                 lstm_2[0][1]
                                                                 lstm_2[0][2]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, None, 20)     2580        lstm_3[0][0]
==================================================================================================
Total params: 155,156
Trainable params: 155,156
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
train.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])
train.fit([X1,X2],X2,epochs=100)

Epoch 1/100
1/1 [==============================] - 4s 4s/step - loss: 23.7957 - accuracy: 0.1086
Epoch 2/100
1/1 [==============================] - 2s 2s/step - loss: 23.6236 - accuracy: 0.1889
Epoch 3/100
1/1 [==============================] - 2s 2s/step - loss: 23.4722 - accuracy: 0.2605
Epoch 4/100
1/1 [==============================] - 2s 2s/step - loss: 23.3414 - accuracy: 0.3288
Epoch 5/100
1/1 [==============================] - 2s 2s/step - loss: 23.2341 - accuracy: 0.3880
Epoch 6/100
1/1 [==============================] - 2s 2s/step - loss: 23.1610 - accuracy: 0.4210
Epoch 7/100
1/1 [==============================] - 2s 2s/step - loss: 23.1434 - accuracy: 0.4527
Epoch 8/100
1/1 [==============================] - 2s 2s/step - loss: 23.2080 - accuracy: 0.4503
Epoch 9/100
1/1 [==============================] - 2s 2s/step - loss: 23.3652 - accuracy: 0.4006
Epoch 10/100
1/1 [==============================] - 2s 2s/step - loss: 23.5854 - accuracy: 0.3655
Epoch 11/100
1/1 [==============================] - 2s 2s/step - loss: 23.8178 - accuracy: 0.3513
Epoch 12/100
1/1 [==============================] - 2s 2s/step - loss: 24.0201 - accuracy: 0.4097
Epoch 13/100
1/1 [==============================] - 2s 2s/step - loss: 24.1692 - accuracy: 0.5030
Epoch 14/100
1/1 [==============================] - 2s 2s/step - loss: 24.2774 - accuracy: 0.6278
Epoch 15/100
1/1 [==============================] - 2s 2s/step - loss: 24.3808 - accuracy: 0.7657
Epoch 16/100
1/1 [==============================] - 2s 2s/step - loss: 24.4912 - accuracy: 0.8237
Epoch 17/100
1/1 [==============================] - 2s 2s/step - loss: 24.6206 - accuracy: 0.8059
Epoch 18/100
1/1 [==============================] - 2s 2s/step - loss: 24.7795 - accuracy: 0.7278
Epoch 19/100
1/1 [==============================] - 2s 2s/step - loss: 24.9719 - accuracy: 0.5777
Epoch 20/100
1/1 [==============================] - 2s 2s/step - loss: 25.1775 - accuracy: 0.4529
Epoch 21/100
1/1 [==============================] - 2s 2s/step - loss: 25.3659 - accuracy: 0.4144
Epoch 22/100
1/1 [==============================] - 2s 2s/step - loss: 25.5112 - accuracy: 0.4069
Epoch 23/100
1/1 [==============================] - 2s 2s/step - loss: 25.6284 - accuracy: 0.4105
Epoch 24/100
1/1 [==============================] - 2s 2s/step - loss: 25.7229 - accuracy: 0.4241
Epoch 25/100
1/1 [==============================] - 2s 2s/step - loss: 25.7941 - accuracy: 0.4464
Epoch 26/100
1/1 [==============================] - 2s 2s/step - loss: 25.8851 - accuracy: 0.4546
Epoch 27/100
1/1 [==============================] - 2s 2s/step - loss: 26.0127 - accuracy: 0.4309
Epoch 28/100
1/1 [==============================] - 2s 2s/step - loss: 26.1547 - accuracy: 0.3978
Epoch 29/100
1/1 [==============================] - 2s 2s/step - loss: 26.2602 - accuracy: 0.3805
Epoch 30/100
1/1 [==============================] - 2s 2s/step - loss: 26.3193 - accuracy: 0.3670
Epoch 31/100
1/1 [==============================] - 2s 2s/step - loss: 26.3839 - accuracy: 0.2537
Epoch 32/100
1/1 [==============================] - 2s 2s/step - loss: 26.4338 - accuracy: 0.1384
Epoch 33/100
1/1 [==============================] - 2s 2s/step - loss: 26.4542 - accuracy: 0.0386
Epoch 34/100
1/1 [==============================] - 2s 2s/step - loss: 26.4238 - accuracy: 0.0308
Epoch 35/100
1/1 [==============================] - 2s 2s/step - loss: 26.4896 - accuracy: 0.0358
Epoch 36/100
1/1 [==============================] - 2s 2s/step - loss: 26.5641 - accuracy: 0.0319
Epoch 37/100
1/1 [==============================] - 2s 2s/step - loss: 26.5976 - accuracy: 0.0298
Epoch 38/100
1/1 [==============================] - 2s 2s/step - loss: 26.5888 - accuracy: 0.0339
Epoch 39/100
1/1 [==============================] - 2s 2s/step - loss: 26.5440 - accuracy: 0.0370
Epoch 40/100
1/1 [==============================] - 2s 2s/step - loss: 26.4990 - accuracy: 0.0367
Epoch 41/100
1/1 [==============================] - 2s 2s/step - loss: 26.5498 - accuracy: 0.0383
Epoch 42/100
1/1 [==============================] - 2s 2s/step - loss: 26.5703 - accuracy: 0.0514
Epoch 43/100
1/1 [==============================] - 2s 2s/step - loss: 26.5274 - accuracy: 0.0623
Epoch 44/100
1/1 [==============================] - 2s 2s/step - loss: 26.4526 - accuracy: 0.2018
Epoch 45/100
1/1 [==============================] - 2s 2s/step - loss: 26.4315 - accuracy: 0.2469
Epoch 46/100
1/1 [==============================] - 2s 2s/step - loss: 26.4345 - accuracy: 0.2660
Epoch 47/100
1/1 [==============================] - 2s 2s/step - loss: 26.4073 - accuracy: 0.3340
Epoch 48/100
1/1 [==============================] - 2s 2s/step - loss: 26.3812 - accuracy: 0.3670
Epoch 49/100
1/1 [==============================] - 2s 2s/step - loss: 26.3862 - accuracy: 0.3553
Epoch 50/100
1/1 [==============================] - 2s 2s/step - loss: 26.3985 - accuracy: 0.3313
Epoch 51/100
1/1 [==============================] - 2s 2s/step - loss: 26.3875 - accuracy: 0.3272
Epoch 52/100
1/1 [==============================] - 2s 2s/step - loss: 26.3569 - accuracy: 0.3360
Epoch 53/100
1/1 [==============================] - 2s 2s/step - loss: 26.3270 - accuracy: 0.3394
Epoch 54/100
1/1 [==============================] - 2s 2s/step - loss: 26.3207 - accuracy: 0.3198
Epoch 55/100
1/1 [==============================] - 2s 2s/step - loss: 26.3155 - accuracy: 0.3052
Epoch 56/100
1/1 [==============================] - 2s 2s/step - loss: 26.4094 - accuracy: 0.2134
Epoch 57/100
1/1 [==============================] - 2s 2s/step - loss: 26.3267 - accuracy: 0.2969
Epoch 58/100
1/1 [==============================] - 2s 2s/step - loss: 26.2870 - accuracy: 0.3285
Epoch 59/100
1/1 [==============================] - 2s 2s/step - loss: 26.2731 - accuracy: 0.3392
Epoch 60/100
1/1 [==============================] - 2s 2s/step - loss: 26.2759 - accuracy: 0.3361
Epoch 61/100
1/1 [==============================] - 2s 2s/step - loss: 26.2793 - accuracy: 0.3328
Epoch 62/100
1/1 [==============================] - 2s 2s/step - loss: 26.2839 - accuracy: 0.3200
Epoch 63/100
1/1 [==============================] - 2s 2s/step - loss: 26.2993 - accuracy: 0.2921
Epoch 64/100
1/1 [==============================] - 2s 2s/step - loss: 26.2870 - accuracy: 0.2919
Epoch 65/100
1/1 [==============================] - 2s 2s/step - loss: 26.2524 - accuracy: 0.3133
Epoch 66/100
1/1 [==============================] - 2s 2s/step - loss: 26.2421 - accuracy: 0.3125
Epoch 67/100
1/1 [==============================] - 2s 2s/step - loss: 26.2545 - accuracy: 0.2961
Epoch 68/100
1/1 [==============================] - 2s 2s/step - loss: 26.2565 - accuracy: 0.2955
Epoch 69/100
1/1 [==============================] - 2s 2s/step - loss: 26.2469 - accuracy: 0.3057
Epoch 70/100
1/1 [==============================] - 2s 2s/step - loss: 26.2395 - accuracy: 0.3107
Epoch 71/100
1/1 [==============================] - 2s 2s/step - loss: 26.2383 - accuracy: 0.3051
Epoch 72/100
1/1 [==============================] - 2s 2s/step - loss: 26.2386 - accuracy: 0.2953
Epoch 73/100
1/1 [==============================] - 2s 2s/step - loss: 26.2433 - accuracy: 0.2812
Epoch 74/100
1/1 [==============================] - 2s 2s/step - loss: 26.2791 - accuracy: 0.2437
Epoch 75/100
1/1 [==============================] - 2s 2s/step - loss: 26.4206 - accuracy: 0.1332
Epoch 76/100
1/1 [==============================] - 2s 2s/step - loss: 26.3631 - accuracy: 0.1674
Epoch 77/100
1/1 [==============================] - 2s 2s/step - loss: 26.2444 - accuracy: 0.2608
Epoch 78/100
1/1 [==============================] - 2s 2s/step - loss: 26.2147 - accuracy: 0.2871
Epoch 79/100
1/1 [==============================] - 2s 2s/step - loss: 26.2328 - accuracy: 0.2650
Epoch 80/100
1/1 [==============================] - 2s 2s/step - loss: 26.3078 - accuracy: 0.1987
Epoch 81/100
1/1 [==============================] - 2s 2s/step - loss: 26.3561 - accuracy: 0.1619
Epoch 82/100
1/1 [==============================] - 2s 2s/step - loss: 26.3104 - accuracy: 0.1853
Epoch 83/100
1/1 [==============================] - 2s 2s/step - loss: 26.2400 - accuracy: 0.2380
Epoch 84/100
1/1 [==============================] - 2s 2s/step - loss: 26.2095 - accuracy: 0.2621
Epoch 85/100
1/1 [==============================] - 2s 2s/step - loss: 26.2255 - accuracy: 0.2460
Epoch 86/100
1/1 [==============================] - 2s 2s/step - loss: 26.2734 - accuracy: 0.2104
Epoch 87/100
1/1 [==============================] - 2s 2s/step - loss: 26.3154 - accuracy: 0.1793
Epoch 88/100
1/1 [==============================] - 2s 2s/step - loss: 26.3070 - accuracy: 0.1824
Epoch 89/100
1/1 [==============================] - 2s 2s/step - loss: 26.2630 - accuracy: 0.2126
Epoch 90/100
1/1 [==============================] - 2s 2s/step - loss: 26.2270 - accuracy: 0.2329
Epoch 91/100
1/1 [==============================] - 2s 2s/step - loss: 26.2192 - accuracy: 0.2369
Epoch 92/100
1/1 [==============================] - 2s 2s/step - loss: 26.2393 - accuracy: 0.2221
Epoch 93/100
1/1 [==============================] - 2s 2s/step - loss: 26.2774 - accuracy: 0.1932
Epoch 94/100
1/1 [==============================] - 2s 2s/step - loss: 26.3093 - accuracy: 0.1765
Epoch 95/100
1/1 [==============================] - 2s 2s/step - loss: 26.3131 - accuracy: 0.1739
Epoch 96/100
1/1 [==============================] - 2s 2s/step - loss: 26.2915 - accuracy: 0.1833
Epoch 97/100
1/1 [==============================] - 2s 2s/step - loss: 26.2647 - accuracy: 0.1945
Epoch 98/100
1/1 [==============================] - 2s 2s/step - loss: 26.2506 - accuracy: 0.2065
Epoch 99/100
1/1 [==============================] - 2s 2s/step - loss: 26.2560 - accuracy: 0.1929
Epoch 100/100
1/1 [==============================] - 2s 2s/step - loss: 26.2803 - accuracy: 0.1785

#Testing

In [ ]:
Y1="/content/drive/MyDrive/test0.csv"
Y1=pd.read_csv(Y1)
Y1.head()

   frame   face_id   timestamp   confidence  ...   AU25_c   AU26_c   AU28_c   AU45_c
0      1         0       0.000         0.98  ...        1        1        0        1
1      2         0       0.033         0.98  ...        1        1        0        1
2      3         0       0.067         0.98  ...        1        1        0        1
3      4         0       0.100         0.93  ...        1        1        0        1
4      5         0       0.133         0.98  ...        0        1        0        1

[5 rows x 714 columns]

In [ ]:
Y1.shape

(22026, 714)

In [ ]:
columnss=list(Y1.columns)
print(columnss)

['frame', ' face_id', ' timestamp', ' confidence', ' success', ' gaze_0_x', ' gaze_0_y', ' gaze_0_z', ' gaze_1_x', ' gaze_1_y', ' gaze_1_z', ' gaze_angle_x', ' gaze_angle_y', ' eye_lmk_x_0', ' eye_lmk_x_1', ' eye_lmk_x_2', ' eye_lmk_x_3', ' eye_lmk_x_4', ' eye_lmk_x_5', ' eye_lmk_x_6', ' eye_lmk_x_7', ' eye_lmk_x_8', ' eye_lmk_x_9', ' eye_lmk_x_10', ' eye_lmk_x_11', ' eye_lmk_x_12', ' eye_lmk_x_13', ' eye_lmk_x_14', ' eye_lmk_x_15', ' eye_lmk_x_16', ' eye_lmk_x_17', ' eye_lmk_x_18', ' eye_lmk_x_19', ' eye_lmk_x_20', ' eye_lmk_x_21', ' eye_lmk_x_22', ' eye_lmk_x_23', ' eye_lmk_x_24', ' eye_lmk_x_25', ' eye_lmk_x_26', ' eye_lmk_x_27', ' eye_lmk_x_28', ' eye_lmk_x_29', ' eye_lmk_x_30', ' eye_lmk_x_31', ' eye_lmk_x_32', ' eye_lmk_x_33', ' eye_lmk_x_34', ' eye_lmk_x_35', ' eye_lmk_x_36', ' eye_lmk_x_37', ' eye_lmk_x_38', ' eye_lmk_x_39', ' eye_lmk_x_40', ' eye_lmk_x_41', ' eye_lmk_x_42', ' eye_lmk_x_43', ' eye_lmk_x_44', ' eye_lmk_x_45', ' eye_lmk_x_46', ' eye_lmk_x_47', ' eye_lmk_x_48', ' eye_lmk_x_49', ' eye_lmk_x_50', ' eye_lmk_x_51', ' eye_lmk_x_52', ' eye_lmk_x_53', ' eye_lmk_x_54', ' eye_lmk_x_55', ' eye_lmk_y_0', ' eye_lmk_y_1', ' eye_lmk_y_2', ' eye_lmk_y_3', ' eye_lmk_y_4', ' eye_lmk_y_5', ' eye_lmk_y_6', ' eye_lmk_y_7', ' eye_lmk_y_8', ' eye_lmk_y_9', ' eye_lmk_y_10', ' eye_lmk_y_11', ' eye_lmk_y_12', ' eye_lmk_y_13', ' eye_lmk_y_14', ' eye_lmk_y_15', ' eye_lmk_y_16', ' eye_lmk_y_17', ' eye_lmk_y_18', ' eye_lmk_y_19', ' eye_lmk_y_20', ' eye_lmk_y_21', ' eye_lmk_y_22', ' eye_lmk_y_23', ' eye_lmk_y_24', ' eye_lmk_y_25', ' eye_lmk_y_26', ' eye_lmk_y_27', ' eye_lmk_y_28', ' eye_lmk_y_29', ' eye_lmk_y_30', ' eye_lmk_y_31', ' eye_lmk_y_32', ' eye_lmk_y_33', ' eye_lmk_y_34', ' eye_lmk_y_35', ' eye_lmk_y_36', ' eye_lmk_y_37', ' eye_lmk_y_38', ' eye_lmk_y_39', ' eye_lmk_y_40', ' eye_lmk_y_41', ' eye_lmk_y_42', ' eye_lmk_y_43', ' eye_lmk_y_44', ' eye_lmk_y_45', ' eye_lmk_y_46', ' eye_lmk_y_47', ' eye_lmk_y_48', ' eye_lmk_y_49', ' eye_lmk_y_50', ' eye_lmk_y_51', ' eye_lmk_y_52', ' eye_lmk_y_53', ' eye_lmk_y_54', ' eye_lmk_y_55', ' eye_lmk_X_0', ' eye_lmk_X_1', ' eye_lmk_X_2', ' eye_lmk_X_3', ' eye_lmk_X_4', ' eye_lmk_X_5', ' eye_lmk_X_6', ' eye_lmk_X_7', ' eye_lmk_X_8', ' eye_lmk_X_9', ' eye_lmk_X_10', ' eye_lmk_X_11', ' eye_lmk_X_12', ' eye_lmk_X_13', ' eye_lmk_X_14', ' eye_lmk_X_15', ' eye_lmk_X_16', ' eye_lmk_X_17', ' eye_lmk_X_18', ' eye_lmk_X_19', ' eye_lmk_X_20', ' eye_lmk_X_21', ' eye_lmk_X_22', ' eye_lmk_X_23', ' eye_lmk_X_24', ' eye_lmk_X_25', ' eye_lmk_X_26', ' eye_lmk_X_27', ' eye_lmk_X_28', ' eye_lmk_X_29', ' eye_lmk_X_30', ' eye_lmk_X_31', ' eye_lmk_X_32', ' eye_lmk_X_33', ' eye_lmk_X_34', ' eye_lmk_X_35', ' eye_lmk_X_36', ' eye_lmk_X_37', ' eye_lmk_X_38', ' eye_lmk_X_39', ' eye_lmk_X_40', ' eye_lmk_X_41', ' eye_lmk_X_42', ' eye_lmk_X_43', ' eye_lmk_X_44', ' eye_lmk_X_45', ' eye_lmk_X_46', ' eye_lmk_X_47', ' eye_lmk_X_48', ' eye_lmk_X_49', ' eye_lmk_X_50', ' eye_lmk_X_51', ' eye_lmk_X_52', ' eye_lmk_X_53', ' eye_lmk_X_54', ' eye_lmk_X_55', ' eye_lmk_Y_0', ' eye_lmk_Y_1', ' eye_lmk_Y_2', ' eye_lmk_Y_3', ' eye_lmk_Y_4', ' eye_lmk_Y_5', ' eye_lmk_Y_6', ' eye_lmk_Y_7', ' eye_lmk_Y_8', ' eye_lmk_Y_9', ' eye_lmk_Y_10', ' eye_lmk_Y_11', ' eye_lmk_Y_12', ' eye_lmk_Y_13', ' eye_lmk_Y_14', ' eye_lmk_Y_15', ' eye_lmk_Y_16', ' eye_lmk_Y_17', ' eye_lmk_Y_18', ' eye_lmk_Y_19', ' eye_lmk_Y_20', ' eye_lmk_Y_21', ' eye_lmk_Y_22', ' eye_lmk_Y_23', ' eye_lmk_Y_24', ' eye_lmk_Y_25', ' eye_lmk_Y_26', ' eye_lmk_Y_27', ' eye_lmk_Y_28', ' eye_lmk_Y_29', ' eye_lmk_Y_30', ' eye_lmk_Y_31', ' eye_lmk_Y_32', ' eye_lmk_Y_33', ' eye_lmk_Y_34', ' eye_lmk_Y_35', ' eye_lmk_Y_36', ' eye_lmk_Y_37', ' eye_lmk_Y_38', ' eye_lmk_Y_39', ' eye_lmk_Y_40', ' eye_lmk_Y_41', ' eye_lmk_Y_42', ' eye_lmk_Y_43', ' eye_lmk_Y_44', ' eye_lmk_Y_45', ' eye_lmk_Y_46', ' eye_lmk_Y_47', ' eye_lmk_Y_48', ' eye_lmk_Y_49', ' eye_lmk_Y_50', ' eye_lmk_Y_51', ' eye_lmk_Y_52', ' eye_lmk_Y_53', ' eye_lmk_Y_54', ' eye_lmk_Y_55', ' eye_lmk_Z_0', ' eye_lmk_Z_1', ' eye_lmk_Z_2', ' eye_lmk_Z_3', ' eye_lmk_Z_4', ' eye_lmk_Z_5', ' eye_lmk_Z_6', ' eye_lmk_Z_7', ' eye_lmk_Z_8', ' eye_lmk_Z_9', ' eye_lmk_Z_10', ' eye_lmk_Z_11', ' eye_lmk_Z_12', ' eye_lmk_Z_13', ' eye_lmk_Z_14', ' eye_lmk_Z_15', ' eye_lmk_Z_16', ' eye_lmk_Z_17', ' eye_lmk_Z_18', ' eye_lmk_Z_19', ' eye_lmk_Z_20', ' eye_lmk_Z_21', ' eye_lmk_Z_22', ' eye_lmk_Z_23', ' eye_lmk_Z_24', ' eye_lmk_Z_25', ' eye_lmk_Z_26', ' eye_lmk_Z_27', ' eye_lmk_Z_28', ' eye_lmk_Z_29', ' eye_lmk_Z_30', ' eye_lmk_Z_31', ' eye_lmk_Z_32', ' eye_lmk_Z_33', ' eye_lmk_Z_34', ' eye_lmk_Z_35', ' eye_lmk_Z_36', ' eye_lmk_Z_37', ' eye_lmk_Z_38', ' eye_lmk_Z_39', ' eye_lmk_Z_40', ' eye_lmk_Z_41', ' eye_lmk_Z_42', ' eye_lmk_Z_43', ' eye_lmk_Z_44', ' eye_lmk_Z_45', ' eye_lmk_Z_46', ' eye_lmk_Z_47', ' eye_lmk_Z_48', ' eye_lmk_Z_49', ' eye_lmk_Z_50', ' eye_lmk_Z_51', ' eye_lmk_Z_52', ' eye_lmk_Z_53', ' eye_lmk_Z_54', ' eye_lmk_Z_55', ' pose_Tx', ' pose_Ty', ' pose_Tz', ' pose_Rx', ' pose_Ry', ' pose_Rz', ' x_0', ' x_1', ' x_2', ' x_3', ' x_4', ' x_5', ' x_6', ' x_7', ' x_8', ' x_9', ' x_10', ' x_11', ' x_12', ' x_13', ' x_14', ' x_15', ' x_16', ' x_17', ' x_18', ' x_19', ' x_20', ' x_21', ' x_22', ' x_23', ' x_24', ' x_25', ' x_26', ' x_27', ' x_28', ' x_29', ' x_30', ' x_31', ' x_32', ' x_33', ' x_34', ' x_35', ' x_36', ' x_37', ' x_38', ' x_39', ' x_40', ' x_41', ' x_42', ' x_43', ' x_44', ' x_45', ' x_46', ' x_47', ' x_48', ' x_49', ' x_50', ' x_51', ' x_52', ' x_53', ' x_54', ' x_55', ' x_56', ' x_57', ' x_58', ' x_59', ' x_60', ' x_61', ' x_62', ' x_63', ' x_64', ' x_65', ' x_66', ' x_67', ' y_0', ' y_1', ' y_2', ' y_3', ' y_4', ' y_5', ' y_6', ' y_7', ' y_8', ' y_9', ' y_10', ' y_11', ' y_12', ' y_13', ' y_14', ' y_15', ' y_16', ' y_17', ' y_18', ' y_19', ' y_20', ' y_21', ' y_22', ' y_23', ' y_24', ' y_25', ' y_26', ' y_27', ' y_28', ' y_29', ' y_30', ' y_31', ' y_32', ' y_33', ' y_34', ' y_35', ' y_36', ' y_37', ' y_38', ' y_39', ' y_40', ' y_41', ' y_42', ' y_43', ' y_44', ' y_45', ' y_46', ' y_47', ' y_48', ' y_49', ' y_50', ' y_51', ' y_52', ' y_53', ' y_54', ' y_55', ' y_56', ' y_57', ' y_58', ' y_59', ' y_60', ' y_61', ' y_62', ' y_63', ' y_64', ' y_65', ' y_66', ' y_67', ' X_0', ' X_1', ' X_2', ' X_3', ' X_4', ' X_5', ' X_6', ' X_7', ' X_8', ' X_9', ' X_10', ' X_11', ' X_12', ' X_13', ' X_14', ' X_15', ' X_16', ' X_17', ' X_18', ' X_19', ' X_20', ' X_21', ' X_22', ' X_23', ' X_24', ' X_25', ' X_26', ' X_27', ' X_28', ' X_29', ' X_30', ' X_31', ' X_32', ' X_33', ' X_34', ' X_35', ' X_36', ' X_37', ' X_38', ' X_39', ' X_40', ' X_41', ' X_42', ' X_43', ' X_44', ' X_45', ' X_46', ' X_47', ' X_48', ' X_49', ' X_50', ' X_51', ' X_52', ' X_53', ' X_54', ' X_55', ' X_56', ' X_57', ' X_58', ' X_59', ' X_60', ' X_61', ' X_62', ' X_63', ' X_64', ' X_65', ' X_66', ' X_67', ' Y_0', ' Y_1', ' Y_2', ' Y_3', ' Y_4', ' Y_5', ' Y_6', ' Y_7', ' Y_8', ' Y_9', ' Y_10', ' Y_11', ' Y_12', ' Y_13', ' Y_14', ' Y_15', ' Y_16', ' Y_17', ' Y_18', ' Y_19', ' Y_20', ' Y_21', ' Y_22', ' Y_23', ' Y_24', ' Y_25', ' Y_26', ' Y_27', ' Y_28', ' Y_29', ' Y_30', ' Y_31', ' Y_32', ' Y_33', ' Y_34', ' Y_35', ' Y_36', ' Y_37', ' Y_38', ' Y_39', ' Y_40', ' Y_41', ' Y_42', ' Y_43', ' Y_44', ' Y_45', ' Y_46', ' Y_47', ' Y_48', ' Y_49', ' Y_50', ' Y_51', ' Y_52', ' Y_53', ' Y_54', ' Y_55', ' Y_56', ' Y_57', ' Y_58', ' Y_59', ' Y_60', ' Y_61', ' Y_62', ' Y_63', ' Y_64', ' Y_65', ' Y_66', ' Y_67', ' Z_0', ' Z_1', ' Z_2', ' Z_3', ' Z_4', ' Z_5', ' Z_6', ' Z_7', ' Z_8', ' Z_9', ' Z_10', ' Z_11', ' Z_12', ' Z_13', ' Z_14', ' Z_15', ' Z_16', ' Z_17', ' Z_18', ' Z_19', ' Z_20', ' Z_21', ' Z_22', ' Z_23', ' Z_24', ' Z_25', ' Z_26', ' Z_27', ' Z_28', ' Z_29', ' Z_30', ' Z_31', ' Z_32', ' Z_33', ' Z_34', ' Z_35', ' Z_36', ' Z_37', ' Z_38', ' Z_39', ' Z_40', ' Z_41', ' Z_42', ' Z_43', ' Z_44', ' Z_45', ' Z_46', ' Z_47', ' Z_48', ' Z_49', ' Z_50', ' Z_51', ' Z_52', ' Z_53', ' Z_54', ' Z_55', ' Z_56', ' Z_57', ' Z_58', ' Z_59', ' Z_60', ' Z_61', ' Z_62', ' Z_63', ' Z_64', ' Z_65', ' Z_66', ' Z_67', ' p_scale', ' p_rx', ' p_ry', ' p_rz', ' p_tx', ' p_ty', ' p_0', ' p_1', ' p_2', ' p_3', ' p_4', ' p_5', ' p_6', ' p_7', ' p_8', ' p_9', ' p_10', ' p_11', ' p_12', ' p_13', ' p_14', ' p_15', ' p_16', ' p_17', ' p_18', ' p_19', ' p_20', ' p_21', ' p_22', ' p_23', ' p_24', ' p_25', ' p_26', ' p_27', ' p_28', ' p_29', ' p_30', ' p_31', ' p_32', ' p_33', ' AU01_r', ' AU02_r', ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r', ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r', ' AU25_r', ' AU26_r', ' AU45_r', ' AU01_c', ' AU02_c', ' AU04_c', ' AU05_c', ' AU06_c', ' AU07_c', ' AU09_c', ' AU10_c', ' AU12_c', ' AU14_c', ' AU15_c', ' AU17_c', ' AU20_c', ' AU23_c', ' AU25_c', ' AU26_c', ' AU28_c', ' AU45_c']

In [ ]:
filter_column1=[i for i in columnss if "_r" in i and "p_" not in i or "pose_R" in i]

In [ ]:
Y1=Y1[filter_column1]
Y1.shape

(22026, 20)

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
Y1_Scaled=min_max_scaler.fit_transform(Y1)

In [ ]:
Y1=pd.DataFrame(columns=filter_column1,data=Y1_Scaled)
Y1.head()

    pose_Rx   pose_Ry   pose_Rz   AU01_c  ...   AU23_c   AU25_c   AU26_c   AU45_c
0  0.619788  0.491919  0.401049      1.0  ...      0.0      1.0      1.0      1.0
1  0.619166  0.489394  0.404048      1.0  ...      0.0      1.0      1.0      1.0
2  0.619166  0.486364  0.405547      1.0  ...      0.0      1.0      1.0      1.0
3  0.621655  0.486364  0.407796      1.0  ...      0.0      1.0      1.0      1.0
4  0.612943  0.481818  0.413043      1.0  ...      0.0      0.0      1.0      1.0

[5 rows x 20 columns]

In [ ]:
Y1=np.array(Y1)
Y1=Y1.reshape(1,Y1.shape[0],Y1.shape[1])

In [ ]:
Y2="/content/drive/MyDrive/test1.csv"
Y2=pd.read_csv(Y2)
Y2.head()

   frame   face_id   timestamp   confidence  ...   AU25_c   AU26_c   AU28_c   AU45_c
0      1         1       0.000         0.98  ...        0        0        0        1
1      2         1       0.033         0.98  ...        0        0        0        1
2      3         1       0.067         0.98  ...        0        0        0        1
3      4         1       0.100         0.98  ...        0        0        0        1
4      5         1       0.133         0.98  ...        0        0        0        1

[5 rows x 714 columns]

In [ ]:
columnss2=list(Y2.columns)

In [ ]:
filter_column2=[i for i in columnss2 if "_r" in i and "p_" not in i or "pose_R" in i]

In [ ]:
Y2=Y2[filter_column2]
Y2.shape

(16602, 20)

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
Y2_Scaled=min_max_scaler.fit_transform(Y2)

In [ ]:
Y2=pd.DataFrame(columns=filter_column2,data=Y2_Scaled)
Y2.head()

    pose_Rx   pose_Ry   pose_Rz   AU01_c  ...   AU23_c   AU25_c   AU26_c   AU45_c
0  0.257833  0.329662  0.836314      0.0  ...      0.0      0.0      0.0      1.0
1  0.251958  0.326725  0.835230      0.0  ...      0.0      0.0      0.0      1.0
2  0.253264  0.325991  0.835772      0.0  ...      0.0      0.0      0.0      1.0
3  0.254569  0.325991  0.836314      0.0  ...      0.0      0.0      0.0      1.0
4  0.254569  0.325257  0.836856      0.0  ...      0.0      0.0      0.0      1.0

[5 rows x 20 columns]

In [ ]:
Y2=np.array(Y2)
Y2=Y2.reshape(1,Y2.shape[0],Y2.shape[1])

In [ ]:
Y1_test=[Y1,Y2]
Y2_test=Y2

##Prediction

In [ ]:
listening_predict=train.predict(Y1_test)

In [ ]:
listening_predict

array([[[0.02183246, 0.07639188, 0.0178085 , ..., 0.18539564,
         0.02827101, 0.10533426],
        [0.02254889, 0.08383596, 0.01765936, ..., 0.17468883,
         0.02619199, 0.10919201],
        [0.02265666, 0.08599592, 0.01776174, ..., 0.17269737,
         0.02575534, 0.11066277],
        ...,
        [0.02265602, 0.08775834, 0.01803024, ..., 0.17272477,
         0.02559614, 0.11204228],
        [0.02265237, 0.08775206, 0.01802204, ..., 0.17272264,
         0.02559411, 0.11202785],
        [0.02263106, 0.08762824, 0.01800474, ..., 0.1727558 ,
         0.0256083 , 0.11203333]]], dtype=float32)

In [ ]:
listening_predict.shape

(1, 16602, 20)